<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org//TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org//1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Richiesta Nuova Password</title>
</head>

<body style="font-family: Calibri, sans-serif; font-size: 12pt">
  <p>
    Ciao {{fullname}},
    <br> la tua nuova password è: {{password}}
  </p>
  <p>
    Potrai modificarla dopo aver effettuato l'accesso.
  </p>
</body>
</html>